<section class="callout-section dark-yellow">
  <div class="container">
    <div class="row callout">
      <div class="col-md-9">
        <h3>Interesting our works and services?</h3>
        <p class="lead">The standard chunk of Lorem Ipsu from "de Finibus Bonorum et Malorum" by Cicero are also reproduced<br> in their exact original form, accompanied. Donec id elit non mi porta gravida at eget metus.</p>
      </div>

      <div class="col-md-3">
        <a>
          <%= link_to 'Appointment', appointments_appointment_form_path, class: "btn btn-default btn-block btn-lg" %>
        </a>
      </div>
    </div><!-- end callout -->
  </div><!-- end container -->
</section><!-- end section -->