<section class="callout-section dark-yellow">
  <div class="container">
    <div class="row callout">
      <div class="col-md-9">
        <h3>Make An Appointment</h3>
        <p class="lead">We will do our best to accommodate your busy schedule. Schedule an appointment today!</p>
      </div>

      <div class="col-md-3">
        <a>
          <%= link_to 'Appointment', appointments_path, class: "btn btn-default btn-block btn-lg" %>
        </a>
      </div>
    </div><!-- end callout -->
  </div><!-- end container -->
</section><!-- end section -->