<section class="section grey">
  <div class="container">
    <div class="general-title text-center">
      <h4>From the Blog</h4>
      <hr>
      <p class="lead">We shared best articles for pet lowers</p>
    </div><!-- end general title -->

    <div class="row module-wrapper blog-widget">
      <div class="col-md-4 col-sm-6">
        <div class="blog-wrapper">
          <div class="blog-image">
            <a title="">
              <!--<img src="upload/blog_01.jpg" alt="" class="img-responsive">-->
              <%= image_tag("upload/blog_01.jpg", class: 'img-responsive', alt:'') %>
            </a>
          </div><!-- end image -->
          <div class="blog-title">
            <a class="category_title"  title="">PET SUPPLIES</a>
<!--            <h2><a href="#" title="">How to Choose the Best Dog Food?</a></h2>-->
            <h2>How to Choose the Best Dog Food?</h2>

            <div class="post-meta">
                                    <span>
                                    <i class="fa fa-user"></i>
                                    Anna Burke
                                    </span>
              <span>
                                    <i class="fa fa-tag"></i>
                                    Pet
                                    </span>
<!--              <span>-->
<!--                                    <i class="fa fa-comments"></i>-->
<!--                                    <a href="#">19 Comments</a>-->
<!--                                    </span>-->
            </div>
            <p>In an ideal world, all dog food would be created equal. Instead, dog owners are presented with an overwhelming array of options, all claiming to be the best dog food on the market. Wading through these choices to find a dog food brand that is healthy, affordable, and appealing to your pet is often frustrating. We’ve compiled expert advice to help you narrow down your options.</p>
<!--            <a href="#" class="readmore">Read more</a>-->
          </div><!-- end desc -->
        </div><!-- end blog-wrapper -->
      </div><!-- end col -->

      <div class="col-md-4 col-sm-6">
        <div class="blog-wrapper">
          <div class="blog-image">
            <a href="#" title="">
              <!--<img src="upload/blog_02.jpg" alt="" class="img-responsive">-->
              <%= image_tag("upload/blog_02.jpg", alt: "", class: "img-responsive") %>
            </a>
          </div><!-- end image -->
          <div class="blog-title">
            <a class="category_title" title="">PET MARKETING</a>
            <h2><a title="">2022 Tips - Cat and dog health</a></h2>
            <div class="post-meta">
                                    <span>
                                    <i class="fa fa-user"></i>
                                    Jenny
                                    </span>
              <span>
                                    <i class="fa fa-tag"></i>
                                    Market
                                    </span>
<!--              <span>-->
<!--                                    <i class="fa fa-comments"></i>-->
<!--                                    <a href="#">44 Comments</a>-->
<!--                                    </span>-->
            </div>
            <p>Here it is again—a brand new year! As our pets fill an irreplaceable part in many of our homes and families, they do need us (their people) to provide a healthy life for them. In today’s blog post, we have a few pet-friendly ideas.
              Move it—and lose it. If losing a few post-holiday pounds is on your ‘to do’ list, your pet could be your perfect fitness partner.Happy New Year 2022 with PetMedx. Move it—and lose it and Maintain a schedule.
            </p>
<!--            <a href="#" class="readmore">Read more</a>-->
          </div><!-- end desc -->
        </div><!-- end blog-wrapper -->
      </div><!-- end col -->

      <div class="col-md-4 col-sm-6">
        <div class="blog-wrapper">
          <div class="blog-image">
            <a  title="">
              <!--<img src="upload/blog_03.jpg" alt="" class="img-responsive">-->
              <%= image_tag("upload/blog_03.jpg", alt: "", class: "img-responsive") %>

            </a>
          </div><!-- end image -->
          <div class="blog-title">
            <a class="category_title" title="">PET SHOPPING</a>
            <h2><a title="">Sand choice in Cats</a></h2>
            <div class="post-meta">
                                    <span>
                                    <i class="fa fa-user"></i>
                                    Bob Doe
                                    </span>
              <span>
                                    <i class="fa fa-tag"></i>
                                    Shop
                                    </span>
<!--              <span>-->
<!--                                    <i class="fa fa-comments"></i>-->
<!--                                    <a href="#">0 Comment</a>-->
<!--                                    </span>-->
            </div>
            <p>Sand can be used as cat litter when the situation demands it, or if you prefer to be more economical, you can use it as litter for your indoor cat. Sand does not prevent ammonia odors from forming, but you can still improve its odor control by using it.
              The baking soda can be sprinkled into the sand in one cup.
              Cats prefer to relieve themselves in the fine sand, which is soft on their paws and easy to dig up.</p>
<!--            <a href="#" class="readmore">Read more</a>-->
          </div><!-- end desc -->
        </div><!-- end blog-wrapper -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
