<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <p>© 2022 PetMedx by <a href="#">Xovolt</a></p>
      </div><!-- end col -->
      <div class="col-md-6 text-right">
        <ul class="list-inline">
          <li><a href="#">Terms of Usage</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->