<div class="slider-section">
  <div class="tp-banner-container" style="overflow: visible;">
    <div class="tp-banner revslider-initialised tp-simpleresponsive" style="max-height: 680px; height: 680px;" id="revslider-833">
      <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;" class="tp-revslider-mainul">
        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_04.jpg" data-saveperformance="off" data-title="Vet" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
          <div class="slotholder my_3" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
            <div class="tp-bgimg defaultimg s3" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="upload/slider_04.jpg" data-src="upload/slider_04.jpg" >
              </div>
          </div>
          <div class="tp-caption slider_layer_01 text-center lft tp-resizeme start" data-x="center" data-y="262" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 15px 30px; letter-spacing: 0px; font-size: 33px; left: 385px; top: 262px; visibility: visible; opacity: 0.377254; transform: translate3d(0px, -54.8017px, 0px);">Creative <strong style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 33px;">Team</strong>, Professional <strong style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 33px;">Clinic</strong>
          </div>
          <div class="tp-caption slider_layer_02 text-center lft tp-resizeme start" data-x="center" data-y="355" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 415.5px; top: 355px; visibility: visible; opacity: 0.0400513; transform: translate3d(0px, -70.0763px, 0px);">Great Theme For Pet Shop, Veterinarian Websites with tons of options<br style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;"> custom elements and custom sections!
          </div>
          <div class="tp-caption slider_btn text-center lft tp-resizeme start" data-x="center" data-y="440" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 564px; top: 440px; visibility: visible; opacity: 0.000151798; transform: translate3d(0px, -60.9907px, 0px);">
            <a href="#" class="btn btn-primary" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 12px 24px; letter-spacing: 0px; font-size: 12px;">Read More</a>
            <a href="#" class="btn btn-default" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 12px 24px; letter-spacing: 0px; font-size: 12px;">Get It Now</a>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_03.jpg" data-saveperformance="off" data-title="Vet" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 0.0064; z-index: 18;">
          <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
            <div class="tp-bgimg defaultimg s2" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="upload/slider_03.jpg" data-src="upload/slider_03.jpg" >
              </div>
          </div>
          <div class="tp-caption slider_layer_01 text-center lft tp-resizeme start" data-x="center" data-y="262" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 15px 30px; letter-spacing: 0px; font-size: 33px; left: 446.5px; top: 262px; visibility: visible; opacity: 0; transform: translate3d(0px, -88px, 0px);">Happy Pets Happy Clients
          </div>
          <div class="tp-caption slider_layer_02 text-center lft tp-resizeme start" data-x="center" data-y="355" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 415.5px; top: 355px; visibility: visible; opacity: 0; transform: translate3d(0px, -73px, 0px);">Great Theme For Pet Shop, Veterinarian Websites with tons of options<br style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;"> custom elements and custom sections!
          </div>
          <div class="tp-caption slider_btn text-center lft tp-resizeme start" data-x="center" data-y="440" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 564px; top: 440px; visibility: visible; opacity: 0; transform: translate3d(0px, -61px, 0px);">
            <a href="#" class="btn btn-primary" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 12px 24px; letter-spacing: 0px; font-size: 12px;">Read More</a>
            <a href="#" class="btn btn-default" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 12px 24px; letter-spacing: 0px; font-size: 12px;">Get It Now</a>
          </div>
        </li>
      </ul>
      <div class="tp-loader spinner4" style="display: none;">
        <div class="dot1">
        </div>
        <div class="dot2">
        </div>
        <div class="bounce1">
        </div>
        <div class="bounce2">
        </div>
        <div class="bounce3">
        </div>
      </div>
      <div class="tp-bannertimer" style="visibility: visible; width: 0.4125%; transform: translate3d(0px, 0px, 0px);">
      </div>
    </div>
    <div style="position: absolute; top: 339px; margin-top: -30px; left: 20px; width: 60px;" class="tp-leftarrow tparrows default preview2 hashoveralready hidearrows">
      <div class="tp-arr-allwrapper">
        <div class="tp-arr-iwrapper">
          <div class="tp-arr-imgholder s1">
          </div>
          <div class="tp-arr-imgholder2">
          </div>
          <div class="tp-arr-titleholder">Vet</div>
          <div class="tp-arr-subtitleholder">
          </div>
        </div>
      </div>
    </div>
    <div style="position: absolute; top: 339px; margin-top: -30px; right: 20px; width: 60px;" class="tp-rightarrow tparrows default preview2 hashoveralready hidearrows">
      <div class="tp-arr-allwrapper">
        <div class="tp-arr-iwrapper">
          <div class="tp-arr-imgholder s1" >
          </div>
          <div class="tp-arr-imgholder2">
          </div>
          <div class="tp-arr-titleholder">Vet</div>
          <div class="tp-arr-subtitleholder">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>